name: docker-build-base #Draft2

on:
  push:
    paths:
      - 'autonomy_core/base/**'
    branches: [master]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  main:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        if: github.repository == 'kumarrobotics/kr_autonomous_flight'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push base image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./autonomy_core/base/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.repository == 'kumarrobotics/kr_autonomous_flight' }}
          tags: kumarrobotics/autonomy:base
